@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Zen+Maru+Gothic:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background: rgb(22, 22, 22);
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    user-select: none;
}
header {
    background: rgb(22, 22, 22);
    color: #f1f1f1;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

.categories {
    position: absolute;
    left: 12px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}

.categories b{
    position: relative;
    font-size: 24px;
    font-weight: 700;
    margin: 0px 40px 40px 40px;
}

.categories div {
    cursor: pointer;
    margin-bottom: 16px;
    width: 220px;
    height: 24px;
    padding: 10px 5px 5px 40px;
    background-color: rgb(31, 31, 31);
    border-radius: 16px;
    line-height: 22px;
    font-weight: 500;
    transition: all .3s;
}

.categories div:hover {
    transform: scale(1.1);
}
.categories div:active {
    transform: scale(1.1);
    color: #fff;
}

.fixed-cart {
    position: fixed;
    width: 30px;
    height: 30px;
    text-align: center;
    background-color: #5a8560;
    border-radius: 30%;
    top: 60px;
    right: 320px;
    padding: 16px;
    transition: all .3s;
    z-index: 3;
}

.fixed-cart-icon {
    margin-top: 4px;
    width: 26px;
    height: 26px;
}

.fixed-cart:hover{
    transform: scale(1.3);
    background-color: #7b85a7;
}
.fixed-cart:active{
    transform: scale(1.3);
    background-color: #9497a0;
    transition: all .0s;
}

.counter {
    position: absolute;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 15px;
    background-color: #a02f2f;
    border-radius: 50%;
    padding: 8px;
    top: -12px;
    right: -12px;
}

.wrapper {
    width: 1280px;
    margin: 50px auto;
}

header {
    position: relative;
}

header .logo {
    font-weight: 600;
    font-size: 28px;
    line-height: 20px;
}
header .logo_img{
    background: url('./img/i.png') no-repeat;
    width: 450px;
    height: 450px;
    background-size: cover;
    background-position: center center;
    position: absolute;
    left: -370px;
    top: -80px;
    z-index: 1;
}


header ul.nav {
    float: right;
    list-style: none;
}

header ul.nav li {
    display: inline;
    margin-left: 35px;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

header ul.nav li:hover {
    color: #577fa5;
    transform: scale(1.2);
}

header li.cart_btn {
    display: inline-block;
    background-color: #ffffff;
    color: rgb(22, 22, 22);
    padding: 10px;
    border-radius: 10px 10px 0px 10px;
    font-weight: 600;
}

header .cls-btn {
    cursor: pointer;
    color: rgb(172, 172, 172);
    float: right;
    position: fixed;
    right: 208px;
    top: 60px;
    padding: 10px;
    border-radius: 20px 20px 10px 0px;
    background-color: rgb(32, 32, 32);
    transition: all .3s;
    transform: scale(1.5);
    z-index: -1;
}

header .cls-btn:hover,
header .cls-btn:active {
    color: #bd2c2c;
}

header .cart_btn:hover,
header .cart_btn:active  {
    background-color: #c0c0c0;
    padding: 15px;
}

header .shop-cart {
    position: fixed;
    top: 70px;
    right: 200px;
    width: 450px;
    margin-top: 20px;
    min-height: 100px;
    background-color: rgb(32, 32, 32);
    border-radius: 20px 0px 20px 20px;
    z-index: 1;
    -webkit-box-shadow: 16px 22px 45px 13px rgba(255, 255, 255, 0.8);
    -moz-box-shadow: 16px 22px 45px 13px rgba(255, 255, 255, 0.8);
    box-shadow: 16px 22px 45px 13px rgba(255, 255, 255, 0.318);
    padding: 20px;
    padding-bottom: 0px;
    max-height: 700px;
    overflow-y: scroll;
    overflow-x: visible;
}
.shop-cart::-webkit-scrollbar {
    width: 10px;
  }

header .shop-cart .item {
    position: relative;
    cursor: pointer;
    width: 98%;
    float: left;
    margin-right: 20px;
    margin-bottom: 6px;
    padding: 0px 20px 0px 0px;
    border-radius: 10px;
    background-color: rgb(42, 42, 42);
    transition: all .3s;
}
header .shop-cart .item .back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
header .shop-cart .item:hover,
header .shop-cart .item:active{
    transform: scale(1.03);
    border-radius: 10px;
    overflow: visible;
}
header .shop-cart .item img{
    width: 86px;
    float: left;
    margin-right: 20px;
    border-radius: 10%;
}

header .shop-cart .item h3 {
    margin-top: 10px;
    color: #ffffff;
}

header .shop-cart .item b {
    position: relative;
    color: #ebfcffc0;
    font-weight: 600;
    top: 12px;
}
header .shop-cart .item p {
    position: relative;
    color: #ebfcffc0;
    font-weight: 600;
    top: 12px;
}

header .presentation {
    margin: 90px 0;
    overflow: hidden;
    left: -330px;
    background: url('./img/poster.webp') no-repeat;
    width: 100vw;
    height: 400px;
    background-size: cover;
    background-position: center 80%;
    background-blend-mode: multiply;
    background-color: #626d79b7;
    position: relative;
}

header .presentation::after {
    content: 'Коллекционные модели из ваших любимых игр';
    position: absolute;
    display: flex;
    color: #dadadae7;
    top: 0px;
    left: 36vw;
    width: 452px;
    height: 124px;
    font-size: 26px;
    font-weight: 700;
    line-height: 32px;
    padding: 0px 40px;
    border-radius: 0px 0px 40px 40px;
    background-color: rgb(22, 22, 22);
    text-align: center;
    align-items: center;

}

header .shop-cart .empty h2 {
    font-size: 18px;
    text-align: center;
    margin-top: 30px;
}

header .shop-cart .item .delete-icon {
    cursor: pointer;
    color: rgb(172, 172, 172);
    float: right;
    position: relative;
    top: -34px;
    transition: all .3s;
    transform: scale(1.5);
}

header .shop-cart .item .delete-icon:hover,
header .shop-cart .item .delete-icon:active {
    color: #bd2c2c;
    transform: scale(2);
}

header .shop-cart .sum {
    float: left;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
    margin: 20px 0px 30px 0px;
}

main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
}

main .item {
    position: relative;
    width: 280px;
    margin-bottom: 36px;
    background-color: rgb(31, 31, 31);
    border-radius: 10px;
    padding: 8px;
    transition: .3s;
    cursor: pointer;
}

main .item:hover {
    transform: scale(1.05);
}
main .item:active {
    transform: scale(1.05);
}

main .item img {
    width: 100%;
    border-radius: 10px;
}

main h3, main p {
    margin: 10px 10px;
    color: #ffffffcb;
}

main p {
    margin-bottom: 50px;
} 

main b {
    position: absolute;
    color: #ffffffcb;
    left: 20px;
    bottom: 30px;
}

main .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgb(22, 22, 22);
    background: #fff;
    width: 90px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    cursor: pointer;
    font-weight: 600; 
    transition: all .3s ease-in-out;
}

main .add-to-cart:hover {
    transform: scale(1.15) translateY(-5px);
}
main .add-to-cart:active {
    background-color: rgba(255, 255, 255, 0.507);
    transition: 0s;
}

.back-grd{
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000090;
    z-index: 2;
}
.full-item {
    display: flex;
    position: fixed;
    left: 12vw;
    top: 15vh;
    width: 70vw;
    height: 70vh;
    background-color: rgb(26, 26, 26);
    padding: 24px;
    border-radius: 56px;
    justify-content: flex-start;
    align-items: normal;
    z-index: 2;
}
.full-item img {
    position: relative;
    width: auto;
    height: auto;
    padding: 40px;
    margin-right: 20px;
    border-radius: 10%;
}
.full-item .info {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px;
    width: 27vw;
}
.full-item .info h3{
    font-size: 56px;
    font-weight: 800;
}
.full-item .info h1{
    width: 100%;
    border-bottom: solid #fff 1px;
    margin: 20px 0px 20px 0px;
    color: #fff;
}
.full-item .info p{
    font-size: 22px;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 20px 0px 20px 0px;
    color: #fff;
    
}
.full-item .add-to-cart {
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: rgb(22, 22, 22);
    background: #ffffff;
    width: 120px;
    height: 40px;
    text-align: center;
    border-radius: 20px;
    line-height: 40px;
    padding: 10px 30px 10px 30px;
    margin: 40px;
    cursor: pointer;
    font-weight: 600; 
    font-size: 20px;
    transition: all .3s ease-in-out;
}
.full-item .add-to-cart:hover {
    transform: scale(1.15) translateY(-5px);
}
.full-item .add-to-cart:active {
    background-color: rgba(255, 255, 255, 0.507);
    transition: 0s;
}
.full-item  b {
    margin-top: 42px;
    font-size: 20px;
}

.modal-background {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 10;
}

.modal-content {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60vw;
    max-width: 800px;
    height: auto;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    padding: 40px;
    z-index: 11;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
}

.modal-content h2 {
    font-size: 32px;
    font-weight: 800;
    color: #ffffff;
}

.modal-content p {
    font-size: 18px;
    color: #ffffff;
    line-height: 1.5;
    margin-bottom: 20px;
}

.head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}

.close-btn {
    cursor: pointer;
    color: #ffffff;
    background-color: #4a61aa;
    border: none;
    padding: 14px;
    border-radius: 16px;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 30px;
    align-self: flex-end;
    transition: all 0.3s ease-in-out;
}

.close-btn:hover {
    transform: scale(1.2);
    background-color: #577fa5;
}

.close-btn:active {
    transform: scale(1.2);
    background-color: #c0c0c0;
}


footer {
    text-align: center;
    margin-top: 100px;
}

.modal-content {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    max-width: 800px;
    height: auto;
    background-color: rgb(26, 26, 26);
    border-radius: 20px;
    padding: 40px;
    z-index: 11;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
  }
  .modal-content .order-summary h3{
    font-size: 24px;
    margin-bottom: 20px;
  }
  .modal-content .order-summary span{
    font-size: 18px;
  }
  .modal-content p{
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
  }
  .modal-content .checkout-details h3{
    font-size: 24px;
    margin: 18px 0px 18px 0px;
  }
  .modal-content .checkout-details label{
    font-size: 20px;
    margin-top: 18px;
  }
  .checkout-details input, .checkout-details textarea, .checkout-details select {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
  }
  .checkout-btn {
    position: relative;
    top: 0;
    left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    font-family: "Montserrat", sans-serif;
    font-weight: 600 !important;
    font-size: 18px;
    width: 100%;
    background-color: #fff;
    color: rgb(22, 22, 22);
    border: none;
    border-radius: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all .3s;
  }
  .checkout-btn:hover,
  .checkout-btn:active {
    background-color: #727272;
    transform: scale(1.05);
  }
  .error-message {
    color: #ff4d4d !important;
    font-weight: bold;
    margin-bottom: 15px;
  }
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-10px); }
    50% { transform: translateX(10px); }
    75% { transform: translateX(-10px); }
    100% { transform: translateX(0); }
  }
  
  .shake {
    animation: shake 0.3s ease;
  }
  .styled-input {
    width: 100%;
    padding: 12px 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #f8f9fa;
    font-size: 16px;
    transition: all 0.3s ease-in-out;
  }
  
  .styled-input:focus {
    border-color: #4a61aa;
    background-color: #ffffff;
    outline: none;
    box-shadow: 0px 0px 15px rgba(74, 96, 170, 0.699);
  }
  
  .input-error {
    border: 2px solid #ff4d4d;
    background-color: #ffe6e6;
  }
  
  @keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
  }

  @keyframes bounce {
    0% { transform: rotate(0deg) scale(1);}
    25% { transform: rotate(10deg) scale(1.05);}
    50% { transform: rotate(0deg) scale(1.1);}
    75% { transform: rotate(-10deg) scale(1.05);}
    100% { transform: rotate(0deg) scale(1);}
  }
  
  .animate-cart {
    animation: bounce 0.5s;
  }
  .modal-content .head svg{
    color: #000;
    background-color: #fff;
}
@media (max-width: 768px) {

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box; /* Ensures padding and border are included in the total width and height */
    }
    
    body {
        background: rgb(22, 22, 22);
        color: #f1f1f1;
        font-family: "Montserrat", sans-serif;
        font-weight: 400;
        user-select: none;
    }
    
    header {
        background: rgb(22, 22, 22);
        color: #f1f1f1;
        position: relative;
    }
    
    .logo {
        display: flex;
        align-items: center;
    }
    
    .logo_img {
        width: 50px; /* Adjusted for smaller screens */
        height: 50px;
        width: 150px !important;
        height: 150px !important;
        left: -20px !important;
        top: 480px !important;
    }
    
    .categories {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }
    
    .categories div {
        cursor: pointer;
        margin-bottom: 10px;
        padding: 10px;
        background-color: rgb(31, 31, 31);
        border-radius: 16px;
        transition: transform 0.3s;
    }
    
    .categories div:hover {
        transform: scale(1.05);
    }
    
    .wrapper {
        margin: 20px; /* Reduced margins for mobile */
    }
    
    main {
        display: flex;
        flex-wrap: wrap;
        justify-content: center; /* Center items */
    }
    
    main .item {
        width: calc(50% - 20px); /* Two items per row */
        margin: 10px; /* Spacing between items */
    }
    
    .full-item {
        width: 90%; /* Full width on mobile */
        margin: 10vh auto; /* Center on screen */
    }
    
    .modal-content {
        width: 90%; /* Full width for modals on mobile */
        max-width: 500px; /* Limit maximum width */
    }
    .wrapper {
        width: 100%;
        padding: 0 10px;
        margin: 0; /* Remove margin for mobile */
    }

    header ul.nav {
        flex-direction: column; /* Stack navigation items */
        align-items: center; /* Center nav items */
    }

    header ul.nav li {
        margin: 10px 0; /* Vertical spacing */
    }

    main .item {
        width: 100%; /* Full width for mobile */
        margin-bottom: 20px; /* Reduce margin */
    }

    .full-item {
        width: 90vw; /* Full width for mobile */
        left: 5vw; /* Center alignment */
        top: 10vh; /* Adjust vertical position */
    }
    main .add-to-cart {
        font-size: 12px;
    }
    .fixed-cart {
        right: 32px;
        width: 64px;
        height: 64px;
    }
    .counter{
        right: -5px;
        top: -5px;
        width: 32px;
        height: 32px;
    }
    .shop-cart{
        z-index: 3333;
        width: 90vw !important;
        right: 20px !important;
    }
    .shop-cart svg:first-child{
        right: 28px;
        width: 32px;
        height: 32px;
    }
    header .shop-cart {
        z-index: 2222 !important;
    }
    .presentation {
        left: -12px !important;
        width: 101vw !important;
    }
    .presentation::after {
        left: 40px !important;
        width: 245px !important;
        height: 42px !important;
        font-size: 12px !important;
        line-height: 12px !important;
    }
    header .logo {
        margin-top: 60px !important;
        margin-bottom: 8px !important;
        text-align: center;
    } 
    .nav {
        margin-top: 32px !important;
        width: 100% !important;
        z-index: 2;
    } 
    .nav li {
        background-color: rgb(31, 31, 31);
        padding: 10px 10px 10px 10px;
        margin-right: 8px !important;
        border-radius: 10px;
    } 
    .categories{
        left: 42px;
        right: 0px;
        top: 590px;
    }
    .categories b{
        left: 42px;
    }
    .categories div{
        height: 32px;
        width: 300px;
        line-height: 16px;
        text-align: center;
    }
    .close-btn{
        width: 28px !important;
    }
    .modal-content .head svg{
        color: #000;
        background-color: #fff;
        height: 44px !important;
        width: 44px !important;

    }
    .modal-content{
        max-width: 90vw;
        max-height: 90vh;
        overflow-y: scroll;
    }
    .checkout-details{
        position: relative;
    }
    .full-item{
        top: 0px;
        height: 70vh;
        flex-direction: column;
    }
    .full-item img {
        width: 300px;
        margin: 0px;
        padding: 0px;
    }
    .full-item .info {
        width: 300px;
        font-size: 10px !important;
        margin: 0px;
        padding: 0px;
        overflow-y: scroll;
    }
    .full-item .info h3{
        margin-top: 20px;
        font-size: 32px !important;
    }
    .full-item .info p{
        margin-top: 20px;
        font-size: 14px !important;
    }
    
    .full-item .add-to-cart {
        position: relative;
        width: 220px;
        height: 56px !important;
        right: 0px;
        font-size: 14px;
        line-height: 6px;
        margin-bottom: 0px;
        padding: 20px;
    }

    main {
        margin-top: 312px !important;
    }
}